<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>在线仪表检测</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<header>
		<i><img src="static/images/logo.jpg" alt=""></i>
         <a href="#">首页</a>
         <a href="#">使用方法</a>
         <a href="#">关于我们</a>
         <a href="#">联系</a>
         <span>TEL：18866666666</span>
	</header>
	<div class="banner"></div>
	<div class="zp">
		<h1>仪表检测</h1>
		<ul>
			<li>
				<input type="file">
				<button> 提交 </button>
			</li>
			<li><img src="static/images/zp2.jpg" alt=""></li>
			<li><label>
                <input type="text" readonly="readonly">
            </label></li>
		</ul>
	</div>
	<div class="gy">
		<ul>
			<li><p>使用说明</p>
			<span>##########</span></li>
			<li>#####################，############，###################，############################################################################</li>
			<li>################################################################################################################</li>
			<li>################################################################################################################</li>
		</ul>
	</div>
</body>
</html>